{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% for pet in pets %}
    <div class="gallery">
        <a target="_blank" href="{% url 'pets:pet-details' pet.id %}">
            <img src="{{ pet.first_image.image.url }}" alt="Cinque Terre">
        </a>
        <div class="desc">
            <div>
                <b>{{ pet.pet_name }}</b>
            </div>
            <div>
                {{ pet.breed }}
            </div>
            <div>
               {{ pet.gender }}
            </div>
            <div>
                {% if pet.is_adopted %}
                <div style="color: green"><strong>Adopted</strong></div>
                {% else %}
                <a href="{% url 'pets:pet_adopted' pet.pk%}" class="btn btn-primary adopt" style="color:white" role="button">Given away</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>

{% endblock content %}
