<!DOCTYPE html>
<html>
 <head>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <title>Peto Maps</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

   <style>
     /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
     #map {
       height: 100%;
     }
     /* Optional: Makes the sample page fill the window. */
     html, body {
       height: 100%;
       margin: 0;
       padding: 0;
     }
   </style>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF0TI828siwFP5ATOyuhWfu8btlk2KgWI"></script>
   <script>
     // In the following example, markers appear when the user clicks on the map.
     // Each marker is labeled with a single alphabetical character.
     var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
     var labelIndex = 0;

     function initialize() {
       lati = parseFloat($('#latitude').text())
       longi = parseFloat($('#longitude').text())
       var  loc = { lat: lati, lng: longi };
       var map = new google.maps.Map(document.getElementById('map'), {
         zoom: 12,
         center: loc
       });

       // This event listener calls addMarker() when the map is clicked.
       // google.maps.event.addListener(map, 'click', function(event) {
       //   addMarker(event.latLng, map);
       // });

       // Add a marker at the center of the map.
       addMarker(loc, map);
     }

     // Adds a marker to the map.
     function addMarker(location, map) {
       // Add the marker at the clicked location, and add the next-available label
       // from the array of alphabetical characters.
       var marker = new google.maps.Marker({
         position: location,
         label: $('#name').text(),
         map: map
       });
     }

     google.maps.event.addDomListener(window, 'load', initialize);
   </script>
 </head>
 <body>
   <div id="map"></div>
   <p id = 'latitude'>{{ latitude }}</p>
   <p id = 'longitude'>{{ longitude }}</p>
   <p id = 'name'>{{ name }}</p>
 </body>
</html>