{% extends 'base.html' %}
{% load static %}
{% block head %}
<script type="text/javascript">
function emptyInput() {
        document.getElementById('search-id').value = '';
}
window.onload = emptyInput;
</script>
{% endblock head %}


{% block content %}
<div class="container">
    {% for pet in pets %}
    <div class="gallery">
        <a href="{% url 'pets:pet-details' pet.id %}">
            <img src="{{ pet.first_image.image.url }}" alt="Pet image">
        </a>
        <div class="desc">
            <div>
                <b>{{ pet.pet_name }}</b>
            </div>
            <div>
                {{ pet.breed }}
            </div>
            <div>
               {{ pet.gender }}
            </div>
            <div>
                    <strong>Distance: </strong>{{ pet.distance }} Km<br>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
