<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>peto</title> 
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <style>
        body{
            background-image:url(https://s7d2.scene7.com/is/image/PetSmart/GN0314_LG_MENU-DogAndCat-20160818?$GN3014$);
            display:flex;
            background-repeat: no-repeat;
            justify-content: flex-end;
            font-family: 'Montserrat', sans-serif;
        }
        .upload-content {
            width: 50%; 
            height: 50%;
            background: white;
            opacity:0.9;
            background-size: cover;
            color: black; /* Grey text */
            z-index:2 ;
            min-width: 200px;
            max-width: 400px;
            padding:5% 10% 5% 10%;
        }
    </style>
</head> 
<body>
    <div class="upload-content">
        <h2>Add Pet</h2>
        <form method = "post" enctype="multipart/form-data"> 
            {% csrf_token %} 
            <!-- {{ pet_form.as_p }}  -->
            {% for field in pet_form %}
                <p>
                    <strong>{{ field.label_tag }}</strong><br>
                    {{ field }}
                    {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </p>
            {% endfor %}
            {{ image_form_set.management_form }}
            {% for form in image_form_set %}
                <!-- {{ form }} -->
                <p>
                        <strong>{{ form.label_tag }}</strong><br>
                        {{ form }}
                        {% if form.help_text %}
                        <small style="color: grey">{{ form.help_text }}</small>
                        {% endif %}
                        {% for error in form.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                </p>
            {% endfor %}
            <button type="submit">Upload</button> 
        </form>
    </div>
    
</body> 

</html> 
