<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>peto</title> 
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head> 
<body> 
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ comment_form.as_p }} 

        <button type="submit">Upload</button> 
    </form>
</body> 

</html> 
