{% extends 'base.html' %}
{% load static %} 

{% block head %}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
{% endblock head %}

{% block content %}
<div id="post-upload-div">
    <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        <!-- {{ post_form.as_p }}  -->
        {% for field in post_form %}
                <p>
                    <strong>{{ field.label_tag }}</strong><br>
                    {{ field }}
                </p>
        {% endfor %}

        {{ image_form.as_p }}
        <button type="submit" class="btn btn-success">Upload</button> 
    </form>
</div>
{% endblock content %}  