{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class='feed-thumbnail'>
        <div class='title feed-li'><b>{{ posts.title }}</b></div>
        <div class="feed-li "><img id="feed-image" src='{{ images.image.url }}' width="200px"></div>
        <div class='contentfeed feed-li'>{{ posts.content }}</div> 
    </div>
    <div id='feed-list-container'>
        <strong>Comments</strong>
        <ul id='feed-comments'>
            {% for comment in comments %}
            <div id="indi-comments">
                <li class="comment-lists feed-li">{{ comment.comment_content }}</li>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class='comment-block'>
        <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- {{ comment_form.as_p }} -->
                {% for field in comment_form %}
                <p>
                    <strong>Post Comment:</strong><br>
                    {{ field }}
                </p>
                {% endfor %}
                <button type="submit" class="btn btn-success">Post</button>
        </form>
    </div>
</div>
{% endblock %}