{% extends 'user/signup.html' %}

{% block styles %}
  .button {
  background-color:#2B8CBA; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  .button4 {border-radius: 12px;}
  a{
    color:#2B8CBA;
    text-decoration:none;
  }
{% endblock %}
{% block content %}
{% block title %}<title>Login</title>{% endblock %}
<div class="signup-content">
  <div class="input-fields">
    <div class="container">
      {% for message in messages %}

      <div class="alert">
        {{ message }}

      </div>
      {% endfor %}

      <h2>Login</h2>
      <form method="POST">
        {% csrf_token %}
        {% for field in login_form %}
        <p>
          <strong>{{ field.label_tag }}</strong><br>
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
        {% endfor %}
        <button class="button button4" type="submit"><strong>Login</strong></button><br><br><br>
        <a href="{% url 'user:signup' %}">Signup</a><br>
        <a href="{% url 'social:begin' 'google-oauth2' %}">Login with google</a>
      </form>
    </div>
  </div>
</div>
<!-- <script>

  var x = document.getElementById("demo");
  var longitude;
  var latitude;

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }
  }

  function sendPost(lattitude, longitude) {
    // data = {'latitude': lattitude,
    //         'longitude': longitude,
    //         'username': $('#id_username').val(),
    //         'password': $('#id_password').val()
    //            };
    
    $.ajax({
      type: "POST",
      url: "{% url 'user:login' %}",
      dataType: "json",
      headers: {'X-CSRFToken': $('{% csrf_token %}').attr("value"), },
      contentType: "application/json",
      data: {'latitude': lattitude,
            'longitude': longitude,
            'username': $('#id_username').val(),
            'password': $('#id_password').val()
               },
      success: function (data) {
        console.log(data)
      },

    });

  }

  function showPosition(position) {
   latitude = position.coords.latitude;
   longitude = position.coords.longitude;
  }

  getLocation()

  // $('button').click(sendPost(latitude, longitude))
</script> -->

{% endblock %}