{% extends 'user/signup.html' %}
{% load bootstrap4 %}
{% block styles %}
{% endblock %}
{% block title %}
{% block head %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% endblock %}
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="signup-content">
    <div class="input-fields">
        <div class="container">
            <i class="fas fa-user fa-7x" aria-hidden="true"></i>
            <br>
            <h1>{{ person.name }}</h1> <br>
            <p><strong>Ph.no :</strong> {{ person.phone_number }}</p>
            <p><strong>Bio :</strong> {{ person.bio }}</p>

            <a href="http://localhost:8000/dialogs/" class="btn btn-primary" style="color:white" role="button">Your Chats</a>

        </div>
    </div>
</div>

{% endblock %}